@charset "iso-8859-1";
/* CSS Document */

body {
	background: url(../images/bg.gif) repeat-x;
	background-color: #121212;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}

.search_field {
	background: url(../images/search_field.gif) no-repeat;
	width: 231px;
	height: 28px;
	border: 0px;
	color: #999;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Verdana;
	font-size: 12px;
	font-style: italic;
}

.newsletter_field {
	background: url(../images/newsletter_field.gif) no-repeat;
	width: 196px;
	height: 27px;
	border: 0px;
	color: #999;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
}

.button {
	background: url(../images/button.gif);
	width: 82px;
	height: 31px;
	border: 0px;
	color: #737B19;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 4px;
}

.button:hover {
	color: #DAED18;
}

.contact_field {
	background: url(../images/contact_field.gif) no-repeat;
	width: 231px;
	height: 28px;
	border: 0px;
	color: #999;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Verdana;
	font-size: 12px;
}

.contact_box {
	background: url(../images/contact_box.gif);
	width: 364px;
	height: 184px;
	border: 0px;
	color: #999;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	overflow: auto;
	resize: none;
}

.welcome {
	background: url(../images/welcome.gif) no-repeat;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	color: #FFFFFF;
}

.welcome_small {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #999;
	line-height: 14px;
}

.welcome a:link {
	text-decoration: none;
	color: #DAED18;
}

.welcome a:active {
	text-decoration: none;
	color: #DAED18;
}

.welcome a:visited {
	text-decoration: none;
	color: #DAED18;
}

.welcome a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.welcome_small a:link {
	text-decoration: none;
	color: #DAED18;
}

.welcome_small a:active {
	text-decoration: none;
	color: #DAED18;
}

.welcome_small a:visited {
	text-decoration: none;
	color: #DAED18;
}

.welcome_small a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.content_top {
	background: url(../images/content_top.gif) no-repeat;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	padding-left: 14px;
	color: #FFFFFF;
}

.content_top a:link {
	text-decoration: none;
	color: #DAED18;
}

.content_top a:active {
	text-decoration: none;
	color: #DAED18;
}

.content_top a:visited {
	text-decoration: none;
	color: #DAED18;
}

.content_top a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.content_top_small {
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #999;
	line-height: 14px;
}

.content_top_small a:link {
	text-decoration: none;
	color: #DAED18;
}

.content_top_small a:active {
	text-decoration: none;
	color: #DAED18;
}

.content_top_small a:visited {
	text-decoration: none;
	color: #DAED18;
}

.content_top_small a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.content_body {
	background: url(../images/content_body.gif) repeat-y;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 34px;
	padding-right: 14px;
	color: #999;
	line-height: 14px;
}

.content_body a:link {
	text-decoration: none;
	color: #DAED18;
}

.content_body a:active {
	text-decoration: none;
	color: #DAED18;
}

.content_body a:visited {
	text-decoration: none;
	color: #DAED18;
}

.content_body a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.content_bottom {
	background: url(../images/content_bottom.gif) no-repeat;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	padding-top: 4px;
	padding-bottom: 6px;
	padding-right: 12px;
	color: #3D3D3D;
}

.content_bottom a:link {
	text-decoration: none;
	color: #737B19;
}

.content_bottom a:active {
	text-decoration: none;
	color: #737B19;
}

.content_bottom a:visited {
	text-decoration: none;
	color: #737B19;
}

.content_bottom a:hover {
	text-decoration: none;
	color: #DAED18;
}


.sidebar_top {
	background: url(../images/sidebar_top.gif) no-repeat;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	padding-left: 14px;
	color: #FFFFFF;
}

.sidebar_top a:link {
	text-decoration: none;
	color: #DAED18;
}

.sidebar_top a:active {
	text-decoration: none;
	color: #DAED18;
}

.sidebar_top a:visited {
	text-decoration: none;
	color: #DAED18;
}

.sidebar_top a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.sidebar_top_small {
	font-size: 10px;
}

.sidebar_body {
	background: url(../images/sidebar_body.gif) repeat-y;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 14px;
	padding-right: 14px;
	color: #999;
	line-height: 14px;
}

.sidebar_body a:link {
	text-decoration: none;
	color: #DAED18;
}

.sidebar_body a:active {
	text-decoration: none;
	color: #DAED18;
}

.sidebar_body a:visited {
	text-decoration: none;
	color: #DAED18;
}

.sidebar_body a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.footer {
	background: url(../images/footer.gif) repeat-x;
}

.footer_body {
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 25px;
	color: #555555;
	line-height: 14px;
}

.footer_body a:link {
	text-decoration: none;
	color: #737B19;
}

.footer_body a:active {
	text-decoration: none;
	color: #737B19;
}

.footer_body a:visited {
	text-decoration: none;
	color: #737B19;
}

.footer_body a:hover {
	text-decoration: none;
	color: #DAED18;
}

.bottom_footer {
	background-color: #000000;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 6px;
	line-height: 14px;
}

.titulo {
	float: left;
	color: #FFFFFF;
	font-size: 40px;
	width: 400px;

}